<div class="align-div">
  <div class="flex-box">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLink="list-interviews" routerLinkActive="active">List Interviews</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="schedule-interview" routerLinkActive="active">Schedule Interview</a>
          </li>
      </ul>
  </div>

  <div style="margin-top: 20px;">
      <router-outlet></router-outlet>
  </div>

</div>
