<form (ngSubmit)="onSubmit(createForm)" #createForm="ngForm">
  <div class="form-group">
    <label for="name">Candidate Name</label>
    <input
      type="text"
      id="name"
      name="name"
      class="form-control"
      ngModel
      required
      style="width: 400px"/>
  </div>
  <div class="form-group">
    <label for="schedule">Interview Schedule</label>
    <input
      type="text"
      id="schedule"
      name="schedule"
      class="form-control"
      ngModel
      required
      style="width: 400px"/>
  </div>
  <div class="form-group">
    <label for="skills">Skills</label>
    <input
      type="text"
      id="skills"
      name="skills"
      class="form-control"
      ngModel
      required
      style="width: 400px"/>
  </div>
  <button [disabled]="createForm.invalid" class="btn btn-primary" type="submit">Schedule</button>
</form>
